button {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    font-size: 64px;
    height: 10vw;
    width: 100vw;
    border: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
button:hover {
    background-color: rgb(214, 214, 214);
    color: black;
  }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}
h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    color: #666;
}